

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar {
	padding: 20px;
}

.navbar a {
	font-size: 40px;
}

.lead {
	margin-top: 80px;
}
















